body {
    display: flex;
    justify-content: center;
    background-color: rgb(120, 182, 213);
    font-size: 120%;
    font-family: Times, 'Times New Roman', serif;
    /* background-image: url('../projectImages/Chromium_logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 25%;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed; */ 
}

#main {
    position: absolute;
    z-index: 0;
}

#image {
    position: absolute;
    z-index: -1;
    width: 20em;
}

#imageDiv {
    position: absolute;
    display: flex;
    justify-content: center;
}

.link {
  text-decoration: none;
  color: blue; 
}

#autoDetect {
    font-size: 80%;
}

.header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 300%;
}

#steps {
    display: flex;
    justify-content: center;
    margin-top: -4%;
}

#extensionURL {
    width: 335px;
    background-color: rgb(225, 244, 255);
}

#versionDropdown {
    background-color: rgb(225, 244, 255);
}

#buttonsDiv {
    display: flex;
    justify-content: center;
}

#downloadBtnDiv {
    margin-right: 0.15em;
}

#copyBtnDiv {
    margin-left: 0.15em;
}

#errorDiv {
    justify-content: center;
}

#errorMessage {
    color: red;
    font-family: monospace;
    display: none;
    justify-content: center;
    padding-bottom: 2%;
}

#head1 {
    padding-top: 7%;
}

#head2 {
    margin-top: -5%;
    padding-bottom: 0%;
}

#step3 {
    display: inline;
}

#step4 {
    display: inline-block;
}

.blue {
    color: darkblue;
}

.red {
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: greenyellow;
}

#footer {
    /* background-color: rgb(41, 148, 175); */
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer2 {
    /* background-color: rgb(41, 148, 175); */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

#footerText {
    font-size: 80%;
}

.copyLink {
    color: blue;
}

.copyLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    body {
      font-size: 90%;
    }
    #head1 {
        padding-top: 0%;
    }
    #steps {
        margin-top: 0%;
    }
    #image {
        width: 15em;
    }
    #extensionURL {
        width: 285px;
    }
    #head1 {
        padding-top: 4%;
    }
    #head2 {
        margin-top: -6.5%;
        padding-bottom: 0%;
    }
}

@media screen and (max-width: 600px) {
    #head1 {
        padding-top: 4%;
    }
    #head2 {
        margin-top: -10%;
        padding-bottom: 0%;
    }
}