body {
    display: flex;
    justify-content: center;
    background-color: rgb(120, 182, 213);
    font-size: 120%;
    font-family: Times, 'Times New Roman', serif;
}

.link {
  text-decoration: none;
  color: blue; 
}

.header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 300%;
}

#steps {
    display: flex;
    justify-content: center;
}

#extensionURL {
    width: 400px;
}

#downloadBtnDiv {
    display: flex;
    justify-content: center;
}

#head1 {
    padding-top: 0%;
}

#head2 {
    margin-top: -5%;
    padding-bottom: 0%;
}

#step3 {
    display: inline;
}

#step4 {
    display: inline-block;
}

.blue {
    color: darkblue;
}

.red {
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: greenyellow;
}

#footer {
    /* background-color: rgb(41, 148, 175); */
    width: 100%;
    display: flex;
    justify-content: center;
}

#footerText {
    font-size: 80%;
    
}

@media screen and (max-width: 800px) {
    body {
      font-size: 90%;
    }
}